@import 'tailwindcss';

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
  --light: #fff;
  --dark: #272727;
  --primary: #9fa9a3;
  --secondary: #c5d5c5;
  --tertiary: #e3e0cc;
  --background: #9fa9a3;
  --fc-button-bg-color: #9fa9a3;
  --fc-button-border-color: #272727;
  --fc-button-hover-bg-color: rgba(159, 169, 163, 0.8);
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: hsla(144, 5%, 20%, 0.8);
  --fc-button-active-border-color: #151e27;
  --fc-today-bg-color: hsla(144, 5%, 92%, 1);
  --fc-event-text-color: #fff;
}

/* Keyframes for dialog and popover elements */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Keyframes for the backdrop pseudo-element */
@keyframes backdropFadeIn {
  from {
    background: hsl(0 0% 0% / 0%);
  }
  to {
    background: hsl(0 0% 0% / 50%);
  }
}
@keyframes backdropFadeOut {
  from {
    background: hsl(0 0% 0% / 50%);
  }
  to {
    background: hsl(0 0% 0% / 0%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

img {
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
  background-repeat: no-repeat;
  shape-margin: 0.75rem;
}

/* a {
  cursor: pointer;
} */

body {
  background: transparent;
  color: var(--foreground);
}

.fc-daygrid-day-number {
  cursor: default;
}

.fc-daygrid-event-dot {
  display: none;
  cursor: pointer;
}

.fc-daygrid-dot-event {
  padding: 2px 3px;
}
.fc-daygrid-dot-event {
  .fc-event-title {
    font-weight: normal;
  }
  .fc-event-time {
    font-weight: 700;
  }
}

.fc {
  .fc-daygrid-event-harness:hover {
    cursor: pointer;
  }
  a.fc-event {
    background-color: var(--color-primary);
    color: #fff;
  }
}

#modal::backdrop {
  background-color: var(--color-primary);
  opacity: 0.7;
}
